<launch>
<group ns="uav1">
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="/dev/ttyUSB0:921600" />
    <!--arg name="gcs_url" default="udp://@" /-->
    <!--arg name="gcs_url" default="udp://@192.168.1.103"/-->
    <arg name="gcs_url" value="udp://@localhost"/>
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" value="1" />
    <arg name="log_output" value="screen" />
  </include>

  <include file="$(find on_off_mission)/launch/TaskManager.launch">
    <arg name="self_system_id" value="1"/>
    <arg name="self_component_id" value="1"/>
    <arg name="target_system_id" value="1"/>
    <arg name="gcs_system_id" value="255"/>
    <arg name="init_position_x" value="0"/>
    <arg name="init_position_y" value="0"/>
    <arg name="init_position_z" value="0"/>
    <!--indoor path =1; outdoor = 0 -->
    <arg name="outdoor_indoor_flag" value = "1"/>
    <arg name="takeoff_acc" value = "0.5"/>
    <!--relative to ground takeoff hight -->
    <arg name="takeoff_hight" value = "3"/>
    <!--online path =1; offline = 0 -->
    <arg name="online_offline_flag" value = "0"/>  
  </include>
</group>
</launch>
